[user]
	name = Hrvoje Šimić
	email = shime@twobucks.co
	username = shime
	signingkey = 414AA9B2
[credential]
	helper = cache
[pull]
	rebase = true
[github]
	user = shime
[push]
	default = current
	followTags = true
[color]
	ui = true
[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git://github.com/
[help]
	autocorrect = 7
[ghi "highlight"]
	style = vim
[ghi]
	editor = vim
[rebase]
  autosquash = true

[alias]
  a  = add
  c  = commit --allow-empty
  ca = commit --allow-empty --amend
  co = checkout
  d  = diff -w
  dc = diff -w --cached
  l  = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  rs = reset
  s  = status -sb
  ss = stash save
  sp = stash pop
  u  = reset HEAD~1
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
[diff-so-fancy]
	markEmptyLines = false
[init]
	templatedir = ~/.git_template
