[user]
	name = Hrvoje Šimić
	email = shime.ferovac@gmail.com
[credential]
	helper = cache
[pull]
	rebase = true
[github]
	user = shime
[web]
	browser = firefox
[push]
	default = current
[color]
	ui = true
[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git://github.com/
[help]
	autocorrect = 7
[ghi "highlight"]
	style = vim
[ghi]
	editor = vim
[rebase]
  autosquash = true
