#!/usr/bin/env bash

# dir stuff
alias ..='cd ..'
alias l='ls'
alias lss='ls++'
alias ls="ls --color"

# vim stuff
alias v='vim --remote-silent'
alias vimrc='v ~/.vimrc'
alias tmuxrc='v ~/.tmux.conf'
alias zshrc='v ~/.zshrc'
alias bashrc='v ~/.bashrc'
alias aliases='v ~/.aliases'

# ruby stuff
alias r="rails $*"
alias bi="bundle install"
alias be="bundle exec $*"
alias rt='rake test'
alias m="rake db:migrate"
alias G="v Gemfile"
alias R="v Rakefile"
alias C="rails console"

# distro stuff
alias pacman='sudo pacman'

# git stuff
alias g="git"
alias gs="git status -sb"
alias ga="git add"
alias gd="git diff -w"
alias gca="git commit --amend"
alias gco="git checkout"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gu="git reset HEAD~1"
alias gss="git stash save"
alias gsp="git stash pop"
alias grs="git reset"
alias gcfd="git clean -fd"
alias gbv="git branch -v"
alias gdc="git diff -w --cached"

function gcm(){
  git commit -m "$*"
}

function gcam(){
  git commit -am "$*"
}

function release(){
  version=$1
  git commit -m "release $version"
  git tag -a "$version" -m "$version" || git reset HEAD~1
}

# npm stuff
alias ni="npm install"
alias nis="npm install --save"
alias nid="npm install --save-dev"
alias ns="npm search"
alias nd="npm docs"

# misc
alias s="sudo"
alias so="source"
alias t="tmux -2"
# alias ip="curl -s icanhazip.com"
alias dotfiles="cd ~/.dotfiles"
alias emacs="emacs -nw"
alias pbcopy='xclip -selection clipboard'
alias mkdir="mkdir -p"
alias reload="exec bash -l"
alias open="xdg-open"

alias em="ember"

alias vmig="v $(git status -s db | cut -d ' ' -f 2)"
